{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="content">
            <hr style="height:3px; background-color: black;">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>Comments: {{ post.comments.all.count }}</p>
            <h4 align="right"><a href="{% url 'comment-new' post_id=post.pk %}">Add comment</a></h4>
        </div>
    {% endfor %}

{% endblock %}
